body {
    background-color: #ebe3c3;
    width: 100%; /* förbjuder overflow*/
    height: 100%;
    margin: 0; /* tar bort default margin */
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    overflow-x: hidden; /* tar bort möjlighet för horizontal scroll ifall av overflow */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
.header{
    padding-top: 80px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 20px; 
    text-align: center; 
    width: 100%;
}
.header-wrapper{
    background-color: #cfcfe9;
    padding: 12px;
    --mask:/* lånad kod från en webbsida som genererar css design*/
    radial-gradient(41.38px at 50% calc(100% - 58.5px),#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
    radial-gradient(41.38px at 50% calc(100% + 28.5px),#0000 99%,#000 101%) 50% calc(100% - 30px)/120px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);}
h1{
  font-size:45px;   
}
h2{font-size:25px; 
}
p{
  font-size: 25px;
}
img{
    max-width: 100%;
    height: auto;

}
.containerMemory {
    display: grid;
    padding: 60px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 25px
  }
  .containerMemoryEasy {
    grid-template-columns: 1fr 1fr  ;
  }
  .containerMemoryMedium {
    display: grid;
    grid-template-columns: 1fr 1fr  1fr  ;
  }
  .containerMemoryHard{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
  }
  .buttons {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px; 
    justify-content: center; 
    justify-items: center; 
    align-items: center;  
  }
  .card {
    width: 140px;
    height:140px;
    position: relative;
  }
  .card .front,
  .card .back {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover; /* Ensures the image covers the div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; 
    backface-visibility: hidden;
    transition: transform 0.6s;
    border-radius: 12px;
    filter: drop-shadow(3px 3px 12px #cfcfe9); 
  }
  
  /* flip animation för korten */
  .card .front {
    transform: rotateY(180deg); /* gömt */
  }
  
  .card.flipped .front {
    transform: rotateY(0); /* synbar efter flipped */
  }
  
  .card .back {
    transform: rotateY(0); /* synbar*/
  }
  
  .card.flipped .back {
    transform: rotateY(180deg); /* gömt efter flipped */
  }
  .btn {
    display: block;
    margin: 20px auto; 
    padding: 12px 24px; 
    font-size: 18px;
    color: #fff; 
    background-color: #3d009e; 
    border: none;
    border-radius: 12px; 
    cursor: pointer; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s ease, transform 0.2s ease; 
  }
    .btn:hover {
    background-color: #f7ae4a; 
    color: rgb(41, 40, 40);
  }
  .activeButton{
    background-color: #f7ae4a;
    color: rgb(41, 40, 40);
  }

  /* The Modal (background) */
  .modalCloseWinner, .modal-close-looser {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content, .modalContentLooser {
    background-color: rgb(250, 230, 116);
    margin: 15% auto;
    padding: 20px;
    border-radius: 17px;
    width: 60%;
    color: #000;
    font-size: 2em;
  }
  #countDown{
      font-size: 2em;
      background-color: #cfcfe9;
      padding: 40px;
  }
  .disable-clicks {
    pointer-events: none; /* element med detta går inte att klickas på */
  }
  footer {
    text-align: center;
    padding: 150px;
    border-top: 6px solid #3d009e;
    --mask:
    radial-gradient(50.4px at 50% 70.5px,#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
    radial-gradient(50.4px at 50% -40.5px,#0000 99%,#000 101%) 50% 30px/120px 100% repeat-x;
    -webkit-mask: var(--mask);
          mask: var(--mask);
    background-color:#cfcfe9 ;
    height: 50px; 
  }

  /* För Mobile */
@media screen and (max-width: 540px) {
    .view {
        width: 400px;
    }
    .containerMemory {
        
       padding: 0px;
       padding-top: 30px;
       padding-bottom: 30px;
        gap: 10px
      }
     
      .containerMemoryHard{
        grid-template-columns: 1fr 1fr 1fr  ;
      }
      .card {
        width: 100px;
        height:100px;
        position: relative;
      }
      .hard{
        width: 70px;
        height:70px;
      }
      .buttons {
     
        gap: 3px; /* Add space between items if needed */
    }
    .btn {
        margin: 10px auto;
        padding: 8px 18px;
        font-size: 12px;
      }
      .headerPenguin{
          display:none;
      }
      .mainHeadline{
font-size: 30px;
      }
}

/* För Tablets */
@media screen and (min-width: 540px) and (max-width: 700px) {
    .view {
        width: 600px;
    }
    .containerMemory {
        padding: 0px;
        padding-top: 30px;
        padding-bottom: 30px;
        gap: 20px
      }
      .containerMemoryHard{
        grid-template-columns: 1fr 1fr 1fr  1fr 1fr ;

      }
      .card {
        width: 90px;
        height:90px;
        position: relative;
      }
      .buttons {
        gap: 10px; /* Add space between items if needed */
      }
      .btn {
         margin: 20px auto; /* Centers horizontally and adds spacing */
         padding: 8px 18px; /* Adds space inside the button */
        }
}/* For Small windoe */
@media screen and (min-width: 700px) and (max-width: 1300px) {
  .view {
      width: 600px;
  }
  .containerMemory { 
      padding: 0px;
      padding-top: 30px;
      padding-bottom: 30px;
      gap: 20px
      }
    
    .containerMemoryHard{
      grid-template-columns: 1fr 1fr 1fr  1fr 1fr ;
    }
    .card {
    width: 100px;
    height:100px;
    position: relative;
    }
    
    .buttons {
   gap: 10px; /* Add space between items if needed */
    }
    .btn {
      margin: 20px auto; /* Centers horizontally and adds spacing */
      padding: 8px 18px; /* Adds space inside the button */
      }
}